<div class="jumbotron">
  <div class="container">
    <h1>Twitter</h1>
    <p>click button below...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">twitter</a></p>
  </div>
</div>
